.start-screen{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height:100vh;
        max-width: 100%;
    }
}

.start-label-box{
    position: absolute;
    bottom: 15vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    img{
        height:auto;
        width: 30vw;
        min-height: 50px;
        min-width: 200px;

        &:hover{
            filter: brightness(1.3);
            cursor: pointer;
        }
    }
}